* {
    font-family: fantasy;
}
html {
    position: relative;
    min-height: 99vh;
}
body {
    background-color: #1A1A19;
    display: grid;
    place-content: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.title {
    font-size: 3.2em;
    text-align: center;
    color: #FCA924;
    margin: 100px 0 10px 0;
}
.btn {
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #FCA924;
    cursor: pointer;

    &:hover {
        scale: 1.05;
    }
    
    &:active {
        background-color: #FAD79E;
    }
}
.footer-image {
    position: absolute;
    bottom: 1.5em;
    right: 4em;
    width: 14.5em;
    /*filter: drop-shadow(.1rem .1rem 2px rgb(217, 220, 231));*/
}